/* ProductDetails.css */

.product-details {
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.product-details-image {
  max-width: 1200px;
  width: 100%;
  background-color: rgb(247, 247, 247, 1);
  height: 500px;
}

.product-details img {
  width: 60%;
  border-radius: 8px;
  margin-top: 50px;
}

.product-details h1 {
  font-size: 2.5em;
  margin: 20px 0;
  color: #5d5454;
}

.product-details p {
  font-size: 1.2em;
  margin: 10px 0;
  color: #555;
}

.product-details .price {
  font-size: 2em;
  color: #305f64;
  margin: 15px 0;
}

.product-details .details-container {
  text-align: left;
  width: 100%;
  padding: 0 20px;
}

.product-details .info {
  font-size: 1em;
  color: #333;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.product-details .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.product-details button {
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #305f64;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-details button:hover {
  background-color: #505251;
}

@media (min-width: 800px) {
  .product-details {
    padding: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-details-image {
    width: 50%;
    margin-right: 20px;
  }
  .product-details .details-container {
    width: 50%;
    text-align: left;
    margin-left: 0;
  }

  .product-details img {
    height: auto;
    max-width: 100%;
  }

  .product-details h1 {
    font-size: 3em;
  }

  .product-details p {
    font-size: 1.5em;
  }

  .product-details button {
    font-size: 1.2em;
  }
}

@media (min-width: 992px) {
  .product-details h1 {
    font-size: 3.5em;
  }

  .product-details p {
    font-size: 1.6em;
  }

  .product-details button {
    font-size: 1.3em;
  }
}
