.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.navbar-left h1 {
  margin: 0;
  font-size: 2.5rem;
}

.navbar-center {
  display: flex;
  gap: 1rem;
}

.navbar-right {
  display: flex;
  gap: 0rem;
  margin-right: 3rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .navbar-left h1 {
    font-size: 1.5rem;
  }

  .navbar-center {
    flex-direction: column;
    gap: 0.5rem;
  }

  .navbar {
    padding: 0.5rem;
    text-align: center;
  }
}
