.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 200px;
}

.product-card:hover {
  border-color: rgb(0, 161, 91);
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
