.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 200px;
}

.product-card:hover {
  border-color: rgb(0, 161, 91);
}

.product-card > img {
  display: block;
  width: 100%;
}

.productCardBottomContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.product-card img {
  height: 200px;
}
